@use '../abstracts' as *;

#header {
    @include flex(row, center, space-between);
    padding: 4.6rem 2.7rem;
    transition: background-color 0.4s linear;

    .logo {
        width: 16rem;

        img {
            width: 100%;
        }
    }

    .navbar {
        position: absolute;
        top: 11.966rem;
        left: 0;
        height: 100%;
        background-color: $black;
        width: 100%;
        z-index: 19;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.3s linear;

        ul {
            @include flex(column, flex-start, center);
            gap: 2.9rem;
            padding: 20rem 4rem 0;
            font-family: $font-josefin;
            font-size: 2.7rem;
            text-transform: uppercase;
            
            li {
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                a {
                    color: $white;
                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    .btn-menu {
        width: 2.4rem;
        height: 2.2rem;
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all 0.3s ease;

        img {
            width: 100%;
            object-fit: cover;
        }
    }
}


// min-width: 768px //
@media (min-width: 48rem) {
    #header {
        padding: 5rem;

        .logo {
            width: 19.2rem;
        }

        .navbar {
            top: 13.3rem;

            ul {
                align-items: center;
            }
        }
    }
}


// min-width: 1024px //
@media (min-width: 64rem) {
    #header {
        max-width: 111.4rem;
        margin: 0 auto;

        .navbar {
            position: static;
            transform: scaleX(1);
            width: auto;
            background-color: inherit;
            
            ul {
                padding: 0;
                flex-direction: row;
                gap: 3.2rem;
                font-family: $font-alata;
                font-size: 1.5rem;
                line-height: 2.1rem;
                text-transform: capitalize;

                li {
                    position: relative; 
                    transition: background-color 0.3s ease-in-out;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -1.2rem;
                        left: calc(50% - 1.2rem);
                        transform: scaleX(0);
                        width: 2.4rem;
                        height: 0.2rem;
                        border-radius: 0.1rem;
                        background-color: $white;
                        opacity: 0;
                        transition: all 0.3s ease-in-out;
                    }
                    
                    &:hover::after {
                        opacity: 1;
                        transform: scaleX(1);
                    }
                }
            }
        }

        .btn-menu {
            display: none;
        }
    }
}