@use "../abstracts" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html, body {
    font-size: 62.5%; // = 10px
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: linear-gradient(45deg, #202020 0%, #181818 100%);
}

.container {
    max-width: 144rem;
    margin: 0 auto;
    background-color: $white;
}

/**
 * Screen Reader Class
 * 
 * To hide content visually.
 *
 * For more information: https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034
 */
 .sr-only {
    position: absolute !important;
    margin: -1px !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    white-space: nowrap !important;
}